<div class="container">
    <h2>Login</h2>
    <form>
        <div class="mb-3">
            <label for="userNick">Nick de usuario</label>
            <input type="text" class="from-control" id="userNick" placeholder="Usuario">
        </div>

        <div class="mb-3">
            <label for="userName">Nombre usuario</label>
            <input type="text" class="from-control" id="userName" placeholder="Nombre">
        </div>

        <div class="mb-3">
            <label for="userSurname">Apellidos usuario</label>
            <input type="text" class="from-control" id="userSurname" placeholder="Apellidos">
        </div>

        <div class="mb-3">
            <label for="telephone">Telefono usuario</label>
            <input type="text" class="from-control" id="telephone" placeholder="Telefono">
        </div>

        <div class="mb-3">
            <label for="email">Email usuario</label>
            <input type="email" class="from-control" id="email" placeholder="Email">
        </div>

        <div class="mb-3">
            <label for="password">Contraseña</label>
            <input type="password" class="from-control" id="password" placeholder="Contraseña">
        </div>
        <div class="mb-3">
            <label for="repeatPassword">Repetir contraseña</label>
            <input type="password" class="from-control" id="repeatPassword" placeholder="Repite tu contraseña">
        </div>

        <div class="row justify-content-between">
            <div class="col-4">
                <button class="btn btn-primary">Login</button>
                
            </div>
            <div class="col-4">
                <button class="btn btn-primary">Crear Usuario</button>
            </div>
          </div>      
    </form>
</div>