<div class="container">
    <h2>Regístrate</h2>
    <form #itemForm="ngForm" name="itemForm">
        <div class="mb-3">
            <label for="userNick">Nick de usuario</label>
            <input type="text" class="from-control" id="userNick" placeholder="Usuario" name="userNick" [(ngModel)]="userNick"  #nick="ngModel" required minlength="4">
        </div>
        <div *ngIf="(nick.dirty && nick.errors)">
            <small class="form-text text-danger" *ngIf="nick.errors['required']">
                Este campo es requerido
            </small>  
            <small class="form-text text-danger" *ngIf="nick.errors['minlength']">
                Este campo tiene que tener una longitud minima de 4 caracteres 
            </small> 
        </div>  


        <div class="mb-3">
            <label for="userName">Nombre usuario</label>
            <input type="text" class="from-control" id="userName" placeholder="Nombre" name="userName" [(ngModel)]="userName"  #name="ngModel" required>
        </div>
        <div *ngIf="(name.dirty && name.errors)">
            <small class="form-text text-danger" *ngIf="name.errors['required']">
                Este campo es requerido
            </small>  
        </div>

        <div class="mb-3">
            <label for="userSurname">Apellidos usuario</label>
            <input type="text" class="from-control" id="userSurname" placeholder="Apellidos" name="Apellidos" [(ngModel)]="userSurname"  #surname="ngModel" required>
        </div>
        <div *ngIf="(surname.dirty && surname.errors)">
            <small class="form-text text-danger" *ngIf="surname.errors['required']">
                Este campo es requerido
            </small>  
        </div>

      <div class="mb-3">
            <label for="telephone">Telefono usuario</label>
            <input type="text" class="from-control" id="telephone" placeholder="Telefono" name="telephone" [(ngModel)]="userTelephone"  #telephone="ngModel" maxlength="9">
        </div>
        <div *ngIf="(telephone.dirty && telephone.errors)">
            <small class="form-text text-danger" *ngIf="telephone.errors['maxlength']">
                Este campo tiene que tener una longitud máxima de 9 caracteres 
            </small> 
        </div>  

        <div class="mb-3">
            <label for="email">Email usuario</label>
            <input type="email" class="from-control" id="email" placeholder="Email" name="Email" [(ngModel)]="userEmail" #email="ngModel" required >
        </div>
        <div *ngIf="(email.dirty && email.errors)">
            <small class="form-text text-danger" *ngIf="email.errors['required']">
                Este campo es requerido
            </small>  
        </div>
  <!--
        <div class="mb-3">
            <label for="password">Contraseña</label>
            <input type="password" class="from-control" id="password" placeholder="Contraseña" name="password" [(ngModel)]="user!.password"  #password="ngModel" required>
        </div>
        <div *ngIf="(password.dirty && password.errors)">
            <small class="form-text text-danger" *ngIf="password.errors['required']">
                Este campo es requerido
            </small>  
        </div>


        <div class="mb-3">
            <label for="repeatPassword">Repetir contraseña</label>
            <input type="password" class="from-control" id="repeatPassword" placeholder="Repite tu contraseña" name="repeatPassword" [(ngModel)]="user.password" #repeatPassword="ngModel" required>
        </div>
        <div *ngIf="(repeatPassword.dirty && repeatPassword.errors && repeatPassword!=password)">
            <small class="form-text text-danger" *ngIf="repeatPassword.errors['required']">
                Este campo debe coincidir con la contraseña introducida
            </small>  
        </div>
-->
        <div class="row justify-content-between">
            <div class="col-4">
                <button class="btn btn-primary">Login</button>
                
            </div>
            <div class="col-4">
                <button class="btn btn-primary" (click)="createUser()" [disabled]="itemForm.invalid">Crear Usuario</button>
            </div>
          </div>      
    </form>
</div>