.container{
    max-width: 400px;
    margin: 0 auto;
}

label, input {
    display: block;
    margin-bottom: 10px;
    width: 330px;
}

.ng-valid:not(form) {
    border-left: 5px solid green;
}

.ng-invalid:not(form){
    border-left: 5px solid red;
}