<div class="container">
    <h2>Login</h2>
    <form>
        <div class="mb-3">
            <label for="usernick">Nick de usuario</label>
            <input type="text" class="from-control" id="usernick" placeholder="Usuario">
        </div>

        <div class="mb-3">
            <label for="password">Contraseña</label>
            <input type="password" class="from-control" id="password" placeholder="Contraseña">
        </div>

        <div class="row justify-content-between">
            <div class="col-4">
                <button class="btn btn-primary">Registrar</button>
                
            </div>
            <div class="col-4">
                <button class="btn btn-primary">Login</button>
            </div>
          </div>      
    </form>
</div>